@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

/*Sass Color Palette*/
$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$background-container-color: #FFFFFF;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
}

body {
  background: $primary-color;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

// TOP NAV MENU BAR
nav {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
  position: fixed;
  background-color: $primary-color-dark;
}

.left-nav, .right-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 4vh;
  padding: 10px
}

.nav-links{
  display: flex;
  flex-direction: row;
  font-size: 3vh;
  list-style-type: none;
  & a {
    color: $primary-text-color;
    text-decoration: none;
    padding: 10px
  }
  & :hover {
    cursor: pointer;
    color: $primary-color-text;
  }
}

#planeSketch {
  height: 13vh;
  width: 100%;
}

// MAIN SECTION
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 90%;
  margin: 15px;
  border-radius: 15px;
  background-color: $background-container-color;
}

.plan {
  margin-top: 20vh;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%
}

plan-body {
  height: 85%;
}

.past {
  display: flex;
  flex-direction: column;
}


// FOOTER
footer {
  display: flex;
  justify-content: flex-end;
  height: 15vh;
  width: 100%;
  background-color: $primary-color;
}