@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

/*Sass Color Palette*/
$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$background-container-color: #FFFFFF;
$card-background-color: #f1f4f6;
;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
}

body {
  background: $primary-color;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

// TOP NAV MENU BAR
nav {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
  position: fixed;
  background-color: $primary-color-dark;
  z-index: 1;
}

.left-nav, .right-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 4vh;
  padding: 10px
}

.right-nav {
  justify-content: space-between;
}

.nav-links{
  display: flex;
  flex-direction: row;
  font-size: 3vh;
  list-style-type: none;
  & a {
    color: $primary-text-color;
    text-decoration: none;
    padding: 10px
  }
  & :hover {
    cursor: pointer;
    color: $primary-color-text;
  }
}

#planeSketch {
  height: 13vh;
  width: 100%;
}


#travelOnLogo {
  height: 6vh;
  width: 60%
}

//Nav wave effects
.custom-shape-divider-top-1628440474 {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1628440474 svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-1628440474 .shape-fill {
  fill: #0288D1;
}

// MAIN SECTION
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 90%;
  margin: 15px;
  border-radius: 15px;
  background-color: $background-container-color;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%
}

// Plan a Trip Section
.plan {
  margin-top: 21vh;
  
}

.plan-body {
  display: flex;
  height: 85%;
}

.plan-left, .plan-right{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 45vw;
  margin: 5px;
}

.choose-destination {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

#destinationList {
  width: 20vw;
}

.chosen-destination {
  height: 30vh;
  width: 100%;
  padding-top: 2em;

}


.past {
  display: flex;
  flex-direction: column;
}

.past-body, .pending-body, .upcoming-body {
  display: flex;
  flex-direction: row;
}

.card-container {
  border-radius: 15px;
  background: $card-background-color;
  box-shadow:  5px 5px 8px #cccccc,
               -5px -5px 8px #ffffff;
  height: 390px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.destination-img {
  height: 170px;
  width: 257px;
  object-fit: contain;
}

.bottom-card, .top-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

// FOOTER
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 15vh;
  width: 100%;
  background-color: $primary-color;
}

#copyRight {
  height:40%;
}